name: Fraud API CI/CD

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt
      - run: pip install pytest

      - run: pytest -v

  docker:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/fraud-api:${{ github.sha }} .
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/fraud-api:${{ github.sha }} \
                     ${{ secrets.DOCKERHUB_USERNAME }}/fraud-api:latest

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/fraud-api:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/fraud-api:latest
